@media only screen and (max-width: 768px) {
	.exampleVideo1,
	.exampleVideo2 {
		display:none;
	}

	.about {
		padding-top:75px;
		padding-bottom:100px;
	}

	.capabilitiesTitle {
		margin-top: 75px;
	}

	.exampleVideos {
		height:50px;
	}
}

@media only screen and (max-width: 425px) {
	.exampleVideos {
		height:50px;
	}

	.about {
		padding-top:50px;
		padding-bottom:75px;
	}

	.capabilitiesTitle {
		margin-top: 75px;
	}
}